body {
    padding: 0;
    margin: 0;
}
.navbar {
    margin-bottom: 10px;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    
}
.navbar-collapse {
    justify-content: flex-end;
}
.carousel-inner{
    background-color:lightgray;
    text-align:center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.textarea {
    resize: none;
}